/*** Ryan's CSS style for markdown notes ***/

/* colors used -------------------------------------------------
-   #444444 - gray - main text
-   #000000 - black - headers
-   #0099ff - link
-   red - link hover
-   purple  - link visited
-   #cccccc - light gray - quote block, caption
-   white   - ...

    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-family: Georgia, Palatino, serif;
    font-family: Consolas, Monaco, Andale Mono, monospace;
*/

/* text defaults ------------------------------------------------- */
* { margin: 0; border: 0; padding: 0; }

body{
    background: white;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 20px;
    max-width: 700px;
    /* font-family: Verdana, Helvetica, Arial, sans-serif; */
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
}

/* pargarphs and lists --------------------------------------------- */
p, ol, ul {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    padding: 0;
    max-width: 700px;
    font-size: 16px;
    line-height: 22px;
}
p {
    text-align: justify;
}
ol, ul {
    text-align: left;
}
ol,ul > ol,ul {
    margin-top: 0;
    margin-bottom: 0;
}
li {
    margin-left: 36px;
}

/* links ---------------------------------------------------------- */
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: none;
    color: red;
}

/* site title ------------------------------------------------------- */
/*
div#site_title {
    clear: left;
    float: left;
    font-size: 42px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 24px;
}
div#site_subtitle {
    clear: right;
    float: right;
    font-size: 13px;
    color: #444444;
    text-align: right;
}
*/

div#site_header {
    font-size: 24px;
    font-weight: bold;
    color: #444444;
    /* set same as .block class bellow */
    display: block;
    clear: both;
    margin-top: 36px;
    margin-bottom: 36px;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
    padding-top: 4px;
    padding-bottom: 4px;
}

div#site_header a {
    text-decoration: none;
    color: #444444;
}

div#site_footer {
    font-size: 16px;
    color: #444444;
    /* set same as .block class bellow */
    display: block;
    clear: both;
    margin-top: 36px;
    margin-bottom: 36px;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
    padding-top: 4px;
    padding-bottom: 4px;
}

div#site_footer img {
    margin-left: 0;
}


/* headers ------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    margin-top: 24px;
    margin-bottom: 24px;
}
h1 {
    font-size: 42px;
}
h2 {
    border-bottom: 2px solid #444444;
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
    font-weight: bold;
}
h5 {
    font-size: 18px;
    font-style: italic;
}
h1, h2, h3 {
    color: #000000;
    font-weight: normal;
}

/* blocks ---------------------------------------------------------- */
pre {
    padding: 0px 24px;
    max-width: 700px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    max-width: 700px;
}
blockquote {
    margin:0;
    border:0;
    padding:0;
    border-left:12px solid #cccccc;
    padding-left:24px;
    max-width: 700px;
    color: black;
    text-align: justify;
}

/* hr. ---------------------------------------------------------- */
hr {
    margin: 24px auto 24px 0;
    border: 0;
    padding: 0;
    background-color: #444444;
    color: #444444;
    height: 2px; 
    max-width: 700px;
    text-align: left;
}


/* img ---------------------------------------------------------- */
img {
    display: block;
    max-width:  600px; 
    max-height: 500px; 
    margin-left: auto;
    margin-right:auto;
}

/* table ---------------------------------------------------------- */
table {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
th {
    padding: 4px 12px 4px 12px;
}
td {
    padding: 2px 12px 2px 12px;
    vertical-align: top;
}

/* nav ---------------------------------------------------------- */
div.nav
{
    clear: right;
    float: right;
    /*font-family: Consolas, Monaco, Andale Mono, monospace;*/
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    border: 2px solid #444444;
    padding: 10px;
}

div.nav ul
{
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
}

div.nav li
{
    display: inline;
}

div.nav li+li:before
{
    content: "\02022\0A0";
}

div.nav a
{
    text-decoration: none;
    /* text-transform: lowercase; */
}

div.nav a:hover {
    border-bottom: 1px solid black;
}


/* footnotes ---------------------------------------------------------- */
.footnotes ol li p
{
    margin: 0;
}

.signature {
    margin: 10px 0;
}

.markdown_memo_link {
    float: right;
    margin: 10px 0;
    text-align: right;
}


/* classes ---------------------------------------------------------- */
.floatright
{
    float: right;
    clear: right;
    margin-bottom: 20px;
    border-left: 20px;
    border-style: solid;
    border-color: white;
    background-color: #cccccc;
    padding: 4px;
}

.floatleft
{
    float: left;
    clear: left;   
    margin-bottom: 20px;
    border-right: 20px;
    border-style: solid;
    border-color: white;
    background-color: #cccccc;
    padding: 4px;
}

.block
{
    display: block;
    clear: both;
    margin-top: 36px;
    margin-bottom: 36px;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
    padding-top: 4px;
    padding-bottom: 4px;
}

.clearblock
{
    display: block;
    clear: both;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.caption
{
    text-align: center;
    font-size: 12px;
    color: #444444;
}

